* {
    /* overflow: hidden; */

}

body {
    background-color: #D6E4F0;
    overflow-y: hidden;
}

.loginContainer {
    margin-top: 19.5vh;
    margin-bottom: 10vh;
    width: 50vh;
    height: 50vh;
    border-radius: 2%;
    /* background: rgba(33, 37, 41);
    backdrop-filter: blur(1px);
    box-shadow: 2px 2px 2px 2px rgb(65, 65, 66); */
    backdrop-filter: blur(1px);
    background: rgba(33, 37, 41);
    /* background-color: #081e53; */
    box-shadow: 4px 4px 8px 2px black;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    align-self: center;
    justify-content: self;
    overflow-y: hidden;

}

.title {
    /* margin-top: 5vh; */
    padding-top: 5vh;
    color: whitesmoke;
}

.inputFields {
    margin-top: 2vh;
    width: 100%;
    border: 0.5px solid whitesmoke;
    border: none;
    /* border-bottom: 0.5px solid whitesmoke;
    background-color: #081e5335; */
    border: 0.5px solid whitesmoke;
    background-color: rgb(27, 26, 26);
    padding: 0.5vh;
    border-radius: 4px;
}

.inputFields:focus-visible {
    color: whitesmoke !important;
}


#username {
    margin-top: 1.5vh;
}

.fields {
    margin-top: 4vh;
    color: whitesmoke;
}

.rememberMe {
    margin-right: 0.5vh;
}

.forgotPwd {
    margin-left: 0.7vh;
    color: whitesmoke;
}

.container {
    /* width: 100%;
    height: 100vh;
    background: #e3ebfe; */
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container button {
    width: 180px;
    height: 50px;
    border-radius: 5px;
    /* border: 3px solid #FDFEFE; */
    outline: none;
    background: rgba(33, 37, 41);
    /* background-color: #081e53; */
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 40px;
    text-align: center;
    /* box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4); */
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: rgb(22, 22, 22) 3px 3px 6px 0px inset, black -3px -3px 6px 1px inset;
    /* box-shadow: rgb(0, 23, 43) 4px 4px 8px 0px inset,
        rgb(0, 23, 43) -4px -4px 8px 2px inset; */
    border: none;
    margin-top: 18px;
    padding-top: 5px;
    transition: transform 200ms;
    margin-bottom: 10px;
}

.container button:hover {
    cursor: pointer;
    box-shadow: #F7F9F9 0px 1px 2px 0px, #E5E7E9 0px 2px 6px 2px;
    transform: scale(1.02);
}

#btnText {
    color: #D6E4F0;
}